
$mintBtnBgColor: #8859EC;
$mintBtnTextColor: #fff;
$mintBtnWidth: 100%;
$mintBtnHeight: 100%;
$mintBtnFontSize: 1rem;

.mint-button {
    background-color: var(--mintBtnBgColor, $mintBtnBgColor);
    color: var(--mintBtnTextColor, $mintBtnTextColor);
    width: var(--mintBtnWidth, $mintBtnWidth);
    height: var(--mintBtnHeight, $mintBtnHeight);
    font-size: var(--mintBtnFontSize, $mintBtnFontSize);
}

$pageBackground: #fff;

.zc-background {
    background: var(--pageBackground, $pageBackground);
    background-size: 100% 100%;
}

@media (max-width: 600px) {
	.zc-background {
		background-size: cover;
	}
}