$theme-gradient: linear-gradient(100.07deg, #DB6F3D -28.71%, #9534DE 36.75%, #5FB9E6 103.59%);
$footer-height: 100px;
$header-height: 60px;

:export {
    footerHeigth: $footer-height;
    headerHeight: $header-height;
}