$theme-gradient: linear-gradient(100.07deg, #DB6F3D -28.71%, #9534DE 36.75%, #5FB9E6 103.59%);

.required:after {
  content: " *";
  color: red;
}

.pointer {
  cursor: pointer;
}

.form-control {
  &.is-invalid {
    border: 1px solid #dc3545;
  }
}

.bg-gradient-primary {
  background: $theme-gradient !important;
}

.text-zerocodenft {
    background: $theme-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.zerocode-link {
	&:hover {
		background: linear-gradient(
			100.07deg,
			#db6f3d -28.71%,
			#9534de 36.75%,
			#5fb9e6 103.59%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}